@{
    ViewData["Title"] = "Anasayfa";
}

<!--=================================
    Banner -->
<section class="banner-05 bg-holder space-ptb" style="background-image: url(images/bg/10.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 position-relative">
                <div class="content text-center">
                    <h6 class="mb-0">İçindeki voleybolcuyu keşfet</h6>
                    <h1 class="mb-0">Voleybol Okulu Kayıtlarımız Başladı!</h1>
                    <a class="btn btn-md btn-primary mt-3" href="#">Daha fazla.</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Banner -->
<!--=================================
categories-style-03 -->
<!--=================================
categories-style-03 -->
<!--=================================
Course -->
<!--=================================
Course -->
<!--=================================
Feature info -->
<section class="space-pb overflowx-h">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="bg-dark bg-overlay-left-100 p-3 p-sm-4 p-xl-5 rounded-end">
                    <div class="m-2">
                        <div class="d-flex align-items-center mb-3">
                            <i class="flaticon-book fa-4x text-white me-4"></i>
                            <h3 class="mb-0 mt-0 text-white">Beytullah Ulusoy Akademi'ye Katıl</h3>
                        </div>
                        <p class="mb-4 text-white lead">Parlayan bir voleybolcu olup kariyerini inşaa etmek için bize katıl.</p>
                        <a class="btn btn-outline-primary" href="#">Hemen üye ol</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-primary bg-overlay-right-100 p-3 p-sm-4 p-xl-5 rounded-start">
                    <div class="m-2">
                        <div class="d-flex align-items-center mb-3">
                            <i class="flaticon-book-1 fa-4x text-white me-4"></i>
                            <h3 class="mb-0 mt-0 text-white">İş Görüşmeleri ve Sponsorluklar</h3>
                        </div>
                        <p class="mb-4 text-white lead">Beytullah ULUSOY Akademi'ye sponsor olmak için veya iş Görüşmeleri için.</p>
                        <a class="btn btn-light" href="#">İletişime Geç</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Feature info -->
<!--=================================
Feature info and Progress -->
<section class="space-pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <img class="img-fluid rounded-sm" src="images/about/04.jpg" alt="">
            </div>
            <div class="col-lg-3 col-md-6">
                <img class="img-fluid rounded-sm" src="images/about/06.jpg" alt="">
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="section-title">
                    <h2>Ne yapıyoruz?</h2>
                    <p>Öğrencilerimizi seviyelerine göre gruplara ayırarak antrenmanlar yapıyoruz. Bu antrenmanlarla beraber karakteri yüksek, irfanı hür, cesur ve başarılı sporcular yetiştiriyoruz.</p>
                </div>
                <div class="progress-style-1">
                    <div class="progress-item">
                        <div class="progress-title">Karakter</div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <span>100%</span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-item">
                        <div class="progress-title">Cesaret</div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <span>100%</span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-item">
                        <div class="progress-title">Rehavet</div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width:0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <span>0%</span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-item">
                        <div class="progress-title">Başarı</div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <span>100%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Feature info and Progress -->
<!--=================================
video -->
<section class="space-pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="section-title">
                    <h2>Voleybolun Beşiği!</h2>
                    <p>Beytullah ULUSOY Akademi, sporcuların kendini geliştirip, kariyer gelişimini sağlaması ve yeni fırsatlar kazanması için en iyi olanakları sağlar.</p>
                </div>
                <div class="video-image">
                    <img class="img-fluid w-100 rounded-sm" src="images/about/05.jpg" alt="">
                    <a class="popup-icon popup-youtube" href="https://www.youtube.com/watch?v=LgvseYYhqU0">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row mb-0 mb-sm-4">
                    <div class="col-sm-6">
                        <div class="p-3 bg-white">
                            <i class="flaticon-online-learning-1 fa-4x text-primary"></i>
                            <div class="counter mt-3">
                                <div class="counter-number">
                                    <h2 class="timer" data-to="1790" data-speed="2000">520</h2>
                                </div>
                            </div>
                            <h5>Öğrenci</h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="p-3 bg-white">
                            <i class="flaticon-online fa-4x text-primary"></i>
                            <div class="counter mt-3">
                                <div class="counter-number">
                                    <h2 class="timer" data-to="245" data-speed="2000">26</h2>
                                </div>
                            </div>
                            <h5>Grup</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="p-3 bg-white">
                            <i class="flaticon-lecture fa-4x text-primary"></i>
                            <div class="counter mt-3">
                                <div class="counter-number">
                                    <h2 class="timer" data-to="491" data-speed="2000">5</h2>
                                </div>
                            </div>
                            <h5>Antrenör</h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="p-3 bg-white">
                            <i class="flaticon-guarantee fa-4x text-primary"></i>
                            <div class="counter mt-3">
                                <div class="counter-number">
                                    <h2 class="timer" data-to="1090" data-speed="2000">2</h2>
                                </div>
                            </div>
                            <h5>Bölgesel Başarı</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
video -->
<!--=================================
Testimonial -->
<section class="space-ptb bg-primary" data-jarallax='{"speed": 0.5}' style="background-image: url('images/bg/09.png'); background-size: cover;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 text-center">
                <div class="section-title">
                    <h2 class="text-white">İnsanlar Hakkımızda Ne Düşünüyor?</h2>
                    <p class="mb-0 text-white">Beytullah ULUSOY Akademi olarak sizler için bazı öğrencilerimizin ve ebeveynlerinin düşüncelerini listeledik.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-nav-bottom-center" data-nav-arrow="false" data-items="2" data-md-items="2" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0" data-autoheight="true">
                    <div class="item">
                        <div class="testimonial-style-03">
                            <div class="testimonial-info">
                                <div class="testimonial-quote">
                                    <i class="text-white opacity-5 flaticon-quote"></i>
                                </div>
                                <div class="testimonial-content">
                                    Beytullah Hocamız ve ekibi gerçekten çok büyük işlere imza atıyorlar. Çocuklarımıza vermiş oldukları voleybol eğitiminin yanında karakter eğitimi de cabası!
                                </div>
                                <div class="testimonial-author">
                                    <div class="avatar avatar-md">
                                        <img class="img-fluid " src="images/avatar/04.jpg" alt="">
                                    </div>
                                    <div class="testimonial-name">
                                        <h6 class="text-white">Hakan Osurmaz</h6>
                                        <span class="text-white">- Ebeveyn</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-style-03">
                            <div class="testimonial-info">
                                <div class="testimonial-quote">
                                    <i class="text-white opacity-5 flaticon-quote"></i>
                                </div>
                                <div class="testimonial-content">
                                    Küçük kızımın ısrarı üzerine 2 kızımı da yazdırdım ve ikisi de çok mutlular. Antrenmanlarını izliyorum ve Beytullah Hocamızla antrenman yapmaktan büyük keyif alıyorlar.
                                </div>
                                <div class="testimonial-author">
                                    <div class="avatar avatar-md">
                                        <img class="img-fluid " src="images/avatar/05.jpg" alt="">
                                    </div>
                                    <div class="testimonial-name">
                                        <h6 class="text-white">Osman Hakyiyen</h6>
                                        <span class="text-white">- Ebeveyn</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-style-03">
                            <div class="testimonial-info">
                                <div class="testimonial-quote">
                                    <i class="text-white opacity-5 flaticon-quote"></i>
                                </div>
                                <div class="testimonial-content">
                                    Gerek salon ve ekipman kalitesi olarak, gerek teknik ve taktik çalışmaları olarak kızımın da parçası olduğu takım bölgesel kupa kazandı. En büyük takdir ise Beytullah ULUSOY Akademi'ye
                                </div>
                                <div class="testimonial-author">
                                    <div class="avatar avatar-md">
                                        <img class="img-fluid " src="images/avatar/06.jpg" alt="">
                                    </div>
                                    <div class="testimonial-name">
                                        <h6 class="text-white">Murat Setting</h6>
                                        <span class="text-white">- Ebeveyn</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
